.items {
  text-align: center;
  background-color: white;
  border-radius: 6px;
  margin-top: 25px;
  height: 32rem;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}
.items:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-out;
}
.about_item h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.book_poster img {
  width: 240px;
  padding-top: 20px;
}

.item_overview {
  text-align: left;
  margin: 5px 0;
}

.about_item p {
  display: flex;
  flex: 0.8;
  align-items: center;
  color: gray;
  font-size: 1.1rem;
}
.submission {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}
.icons {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}
